extends layout
block head
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  link(rel='stylesheet', href='/stylesheets/login.css')
  //link(rel='stylesheet', href='/stylesheets/old.css')
  script(src="/javascripts/eventScript.js")

block content
  div.pBox(id="app" style="opacity:1")
    div.pLoginBox
      div.pLogoBox
        div.pLoginHead
          svg( width="291" height="56" viewBox="0 0 291 56" fill="none" xmlns="http://www.w3.org/2000/svg")
            <path d="M102.949 13.5365H125.214V19.3137H109.401V25.302H123.317V31.0792H109.401V37.2779H125.425V43.055H102.949V13.5365Z" fill="white"/>
            <path d="M132.89 13.5369H140.058L147.775 34.3261L155.492 13.5369H162.492L150.558 43.2657H144.823L132.89 13.5369Z" fill="white"/>
            <path d="M171.263 13.5369H193.528V19.314H177.715V25.3024H191.63V31.0796H177.715V37.2782H193.739V43.0554H171.263V13.5369Z" fill="white"/>
            <path d="M203.733 13.5369H209.721L223.553 31.7114V13.5369H229.962V43.0546H224.438L210.143 24.2895V43.0546H203.733V13.5369Z" fill="white"/>
            <path d="M248.137 19.5244H239.155V13.5369H263.613V19.5244H254.631V43.0546H248.137V19.5244V19.5244Z" fill="white"/>
            <path d="M12.3965 28.0001C12.3965 19.6081 19.0166 12.7347 28.1253 12.7347C37.234 12.7347 43.7701 19.524 43.7701 28.0001C43.7701 36.392 37.1499 43.2654 28.0412 43.2654C18.9325 43.2654 12.3965 36.4761 12.3965 28.0001ZM36.98 28.0001C36.98 22.9397 33.269 18.7231 28.0404 18.7231C22.8117 18.7231 19.1849 22.8555 19.1849 28.0001C19.1849 33.0604 22.8958 37.277 28.1245 37.277C33.354 37.277 36.98 33.1446 36.98 28.0001Z" fill="white"/>
            <path d="M50.6006 13.2416H56.5889L70.4198 31.4161V13.2416H76.8297V42.7593H71.3057L57.0104 23.9942V42.7593H50.6006V13.2416Z" fill="white"/>
            <path d="M88.432 0H3.83126C1.71877 0 0 1.71877 0 3.83126V52.1687C0 54.2812 1.71877 56 3.83126 56H88.4328C90.5453 56 92.264 54.2812 92.264 52.1687V3.83126C92.2632 1.71877 90.5444 0 88.432 0ZM88.0694 51.8061H4.193V4.19387H88.0694V51.8061Z" fill="#EC1C24"/>
            <path id="dot" d="M281.645 36.3347C286.465 36.3347 290.372 32.6031 290.372 28C290.372 23.3969 286.465 19.6653 281.645 19.6653C276.824 19.6653 272.917 23.3969 272.917 28C272.917 32.6031 276.824 36.3347 281.645 36.3347Z" fill="#ED212E">
            <animate id="animation1" attributeType="xml" attributeName="fill-opacity"  begin="0s" values="0.5;0.5;0.5;1;1" dur="2s" repeatCount="indefinite"  / >
            </path>
          div.pTitle
        div.pLoginBody
          div.pBodyTitle Выберите сессию:
          each room in rooms
            div.plInputBox(id='room_'+room.id style="cursor:pointer")
              div.plInputBoxTitle #{room.title}
              div.proomDate(id='roomdate_'+room.id)
              div.proomDescr #{room.description}
            script.
              var roomid = !{room.id};
              var date = new Date('!{room.date}')
              document.getElementById('roomdate_' + roomid).innerHTML = (moment(date).format('HH:mm dddd, DD MMMM YYYY г. '))
              document.getElementById('room_' + roomid).addEventListener("click", function () {
                document.location.href = "/room/" + !{room.id};
              })







