extends layout
block head
    //script(src="/javascripts/indexScript.js")
    style.
        body{
            font-style: normal;
            margin: 10px;
            box-sizing: border-box;
            background: #272e39;
            text-align: center;
            color: #ffffff;
            font-size: 16px;
            font-family: 'Roboto', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 400;

        }
        .btn {
            background: linear-gradient(327.43deg, #32383E -77.68%, #17191C 87.35%);
            box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.4), -4px -2px 16px rgba(195, 200, 205, 0.05);
            border-radius: 16px;
            padding: 10px;
            cursor: pointer;
            width: 90%;
        }
        .usr {
            display: none;
            line-height: 1.5;
        }
        .usr span {
            margin-right: .5em;
        }

block content
    body
        if(!isRegistered)
            div.btn#btn(onClick="register()") Регистрация
        div.usr#usr
            span
                <svg width="20" height="20" viewBox="0 0 8 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Tablet" transform="translate(-84.000000, -417.000000)" fill="#ffffff" fill-rule="nonzero">
                <g id="Group" transform="translate(-85.000000, 381.000000)">
                <g id="mdi-account" transform="translate(167.000000, 35.000000)">
                <g id="Icon">
                <path d="M6,1.84615385 C7.1045695,1.84615385 8,2.67270508 8,3.69230769 C8,4.71191031 7.1045695,5.53846154 6,5.53846154 C4.8954305,5.53846154 4,4.71191031 4,3.69230769 C4,2.67270508 4.8954305,1.84615385 6,1.84615385 Z M6,6.46153846 C8.21,6.46153846 10,7.28769231 10,8.30769231 L10,9.23076923 L2,9.23076923 L2,8.30769231 C2,7.28769231 3.79,6.46153846 6,6.46153846 Z" id="Icon-Shape"></path>
                <rect id="Icon-Rectangle-path" fill-opacity="0" x="0" y="0" width="12" height="11.0769231"></rect>
                </g>
                </g>
                </g>
                </g>
                </g>
                </svg>
            span#i
                if(isRegistered)
                    span #{isRegistered.i}
            span#f
                if(isRegistered)
                    span #{isRegistered.f}
    if(!isRegistered)
        script.
            var id=!{event.id}
            var wnd=null;
            function register() {
                 wnd=window.open("/login/"+id);

            }
            function registerSuccess(dt) {
               wnd.close();

               document.getElementById("btn").style.display="none"
                document.getElementById("usr").style.display="block"
                document.getElementById("f").innerHTML=dt.user.f
                document.getElementById("i").innerHTML=dt.user.i
            }
    if(isRegistered)
        script.
            document.getElementById("usr").style.display="block"