extends layout
block head
  link(rel='stylesheet', href='/stylesheets/old.css')
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  script(src="/javascripts/utils.js")
  script(src="/javascripts/roomScript.js")
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/room.css')
  if event.isClientCss
    link(rel='stylesheet', href='/stylesheets/clientRoom.css')
block content
  div.roomScreen.multiViewVideo(id="app" v-bind:class="{roomInPres:pres}")
    div.head(v-show="videoReceivers.length<1 && isHead")
      div.headBox
        div.headLogo
          img(src=event.logo style="width:150px")

        div.headTitle #{room.title}

    div.center

      div.L
          div#VKS
              //span(style="position: absolute; top:40px; z-index: -1;") Из участников пока<br> никто не присоединился.
              div#videoWr
          div.Lbody
              div.videoWrapper(v-bind:style="{backgroundImage:pres?'url(/rest/api/pres/'+pres+'/'+eventid+'/'+roomid+')':null}")
                if (room.id==52)
                  //div#YT
                  <iframe id="YT" width="560" height="315" src="https://www.youtube.com/embed/BXF8E_UwEAA?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  //<iframe width="560" height="315" src="https://www.youtube.com/embed/BXF8E_UwEAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                else
                  video(id="video" width="1280" height="720" controls playsinline loop  :src="'https://stream.sberbank-school.ru/hls/'+ room.streamname +'/index.m3u8'" :poster="'/images/'+room.poster" )

                //:poster="'/images/'+room.poster" )//src="'https://aurora-school.cdnvideo.ru/hls/'+room.streamname+'/index.m3u8'" )
                //https://stream.sberbank-school.ru/hls/100/index.m3u8
                //video(id="video" width="1280" height="720" controls playsinline poster="/images/bg_03.png" src="https://stream.sberbank-school.ru/hls/100/index.m3u8" )
                div.videoPlayBannner(style="diaplay:none")
                  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD-Copy" transform="translate(-120.000000, 0.000000)" fill-rule="nonzero">
                  <g id="el-play-alt" transform="translate(120.000000, 0.000000)">
                  <g id="Icon">
                  <path d="M12,24 C5.373,24 0,18.627 0,12 C0,5.373 5.373,0 12,0 C18.627,0 24,5.373 24,12 C24,18.627 18.627,24 12,24 Z M9,6.009 L9,17.991 L18,12 L9,6.009 Z" id="Icon-Shape" ></path>
                  <rect id="Icon-Rectangle-path" fill-opacity="0" fill="#000000" x="0" y="0" width="24" height="24"></rect>
                  </g>
                  </g>
                  </g>
                  </g>
                  </svg>
                div.banner-overlay
                  div
                    div.opa0(style="text-align: center;margin-bottom: 20px;")
                      //span(style="margin: 0 10px;cursor:pointer")
                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56Z" fill="#4A5259"/>
                        <path d="M16.7869 35.753H40.3798C40.9507 35.753 41.4145 35.289 41.4145 34.7183V19.5514C41.4145 18.9807 40.9507 18.5167 40.3798 18.5167H16.7869C16.2162 18.5167 15.7522 18.9807 15.7522 19.5514V34.7183C15.7522 35.289 16.2165 35.753 16.7869 35.753ZM16.8105 19.575H40.3561V34.6947H16.8105V19.575ZM43.3167 36.988C43.3167 36.5141 42.9325 36.13 42.4586 36.13H31.8001C31.5837 36.13 31.3804 36.2287 31.2142 36.3094L31.2004 36.3162C31.0163 36.4055 30.8722 36.4722 30.7316 36.4722H26.4353C26.2947 36.4722 26.1506 36.4055 25.9665 36.3162L25.9527 36.3094C25.7865 36.2287 25.5832 36.13 25.3668 36.13H14.708C14.2342 36.13 13.85 36.5141 13.85 36.988C13.85 37.2584 14.0693 37.4778 14.3397 37.4778H42.8269C43.0973 37.4778 43.3167 37.2584 43.3167 36.988Z" fill="#BABABD" stroke="#BABABD" stroke-width="0.3"/>
                        <mask id="path-3-inside-1" fill="white">
                        <path d="M34.8436 25.9674L30.0339 21.1577C29.6972 20.821 29.1216 21.0594 29.1216 21.5355V23.6756C26.0606 23.8029 23.3607 25.887 22.5051 28.8532C22.2194 29.8433 22.1481 30.6581 22.1706 31.5351C22.1734 31.638 22.1742 31.6677 22.1742 31.6894C22.1742 32.2324 22.8901 32.4293 23.1678 31.9627C23.7632 30.9623 24.4394 30.1893 25.1802 29.618C26.5195 28.5851 27.9138 28.2859 29.1215 28.4067V31.155C29.1215 31.6311 29.6972 31.8695 30.0338 31.5328L34.8435 26.7231C35.0523 26.5144 35.0523 26.1761 34.8436 25.9674ZM30.1904 29.8648V27.9485C30.1904 27.7037 30.024 27.4902 29.7866 27.4303C29.7216 27.4139 29.6136 27.3924 29.467 27.3719C27.9532 27.1601 26.1946 27.4858 24.5275 28.7716C24.128 29.0797 23.7471 29.4364 23.3867 29.8438C23.3787 29.8528 23.3638 29.8455 23.3661 29.8337C23.4087 29.6143 23.4632 29.3877 23.532 29.1494C24.2948 26.5051 26.7894 24.6802 29.552 24.7397C29.5987 24.7406 29.6159 24.7409 29.6375 24.7417C29.9397 24.7521 30.1903 24.51 30.1903 24.2076V22.8257L33.7099 26.3452L30.1904 29.8648Z"/>
                        </mask>
                        <path d="M34.8436 25.9674L30.0339 21.1577C29.6972 20.821 29.1216 21.0594 29.1216 21.5355V23.6756C26.0606 23.8029 23.3607 25.887 22.5051 28.8532C22.2194 29.8433 22.1481 30.6581 22.1706 31.5351C22.1734 31.638 22.1742 31.6677 22.1742 31.6894C22.1742 32.2324 22.8901 32.4293 23.1678 31.9627C23.7632 30.9623 24.4394 30.1893 25.1802 29.618C26.5195 28.5851 27.9138 28.2859 29.1215 28.4067V31.155C29.1215 31.6311 29.6972 31.8695 30.0338 31.5328L34.8435 26.7231C35.0523 26.5144 35.0523 26.1761 34.8436 25.9674ZM30.1904 29.8648V27.9485C30.1904 27.7037 30.024 27.4902 29.7866 27.4303C29.7216 27.4139 29.6136 27.3924 29.467 27.3719C27.9532 27.1601 26.1946 27.4858 24.5275 28.7716C24.128 29.0797 23.7471 29.4364 23.3867 29.8438C23.3787 29.8528 23.3638 29.8455 23.3661 29.8337C23.4087 29.6143 23.4632 29.3877 23.532 29.1494C24.2948 26.5051 26.7894 24.6802 29.552 24.7397C29.5987 24.7406 29.6159 24.7409 29.6375 24.7417C29.9397 24.7521 30.1903 24.51 30.1903 24.2076V22.8257L33.7099 26.3452L30.1904 29.8648Z" fill="#BABABD"/>
                        <path d="M34.8436 25.9674L38.3791 22.4318L38.3791 22.4318L34.8436 25.9674ZM30.0339 21.1577L26.4983 24.6932L30.0339 21.1577ZM29.1216 23.6756L29.3292 28.6713L34.1216 28.4721V23.6756H29.1216ZM22.5051 28.8532L27.3091 30.2395L27.3092 30.239L22.5051 28.8532ZM22.1706 31.5351L17.1723 31.6634L17.1725 31.6725L22.1706 31.5351ZM23.1678 31.9627L27.4643 34.52L27.4644 34.5199L23.1678 31.9627ZM25.1802 29.618L22.1266 25.6587L22.1266 25.6588L25.1802 29.618ZM29.1215 28.4067H34.1215V23.8819L29.6191 23.4316L29.1215 28.4067ZM30.0338 31.5328L33.5694 35.0684L30.0338 31.5328ZM34.8435 26.7231L31.3082 23.1874L31.308 23.1876L34.8435 26.7231ZM30.1904 29.8648H25.1904V41.9359L33.7259 33.4003L30.1904 29.8648ZM29.7866 27.4303L28.5634 32.2784L28.5638 32.2785L29.7866 27.4303ZM29.467 27.3719L28.7742 32.3237L28.7746 32.3237L29.467 27.3719ZM24.5275 28.7716L27.581 32.7309L27.5811 32.7309L24.5275 28.7716ZM23.532 29.1494L28.3359 30.5359L28.3361 30.5353L23.532 29.1494ZM29.552 24.7397L29.4442 29.7386L29.4538 29.7388L29.4635 29.7389L29.552 24.7397ZM29.6375 24.7417L29.4638 29.7387L29.4652 29.7387L29.6375 24.7417ZM30.1903 22.8257L33.7259 19.2902L25.1903 10.7547V22.8257H30.1903ZM33.7099 26.3452L37.2454 29.8808L40.7809 26.3452L37.2454 22.8097L33.7099 26.3452ZM23.3867 29.8438L19.642 26.5305L23.3867 29.8438ZM38.3791 22.4318L33.5694 17.6221L26.4983 24.6932L31.308 29.5029L38.3791 22.4318ZM33.5694 17.6221C30.0829 14.1357 24.1216 16.6049 24.1216 21.5355H34.1216C34.1216 25.514 29.3115 27.5064 26.4983 24.6932L33.5694 17.6221ZM24.1216 21.5355V23.6756H34.1216V21.5355H24.1216ZM28.9139 18.6799C23.7339 18.8953 19.1611 22.4057 17.701 27.4673L27.3092 30.239C27.5604 29.3684 28.3873 28.7105 29.3292 28.6713L28.9139 18.6799ZM17.7012 27.4668C17.2517 29.0243 17.1388 30.3594 17.1723 31.6634L27.169 31.4067C27.1574 30.9568 27.1871 30.6622 27.3091 30.2395L17.7012 27.4668ZM17.1725 31.6725C17.1732 31.6978 17.1737 31.717 17.1741 31.732C17.1745 31.7473 17.1747 31.7553 17.1748 31.7591C17.1748 31.7607 17.1748 31.7603 17.1748 31.7584C17.1748 31.7564 17.1747 31.7522 17.1746 31.7462C17.1745 31.74 17.1744 31.7318 17.1743 31.7219C17.1742 31.7119 17.1742 31.7009 17.1742 31.6894H27.1742C27.1742 31.5804 27.1705 31.4608 27.1687 31.3977L17.1725 31.6725ZM17.1742 31.6894C17.1742 37.3132 24.5883 39.3519 27.4643 34.52L18.8713 29.4053C21.1918 25.5067 27.1742 27.1516 27.1742 31.6894H17.1742ZM27.4644 34.5199C27.7868 33.9782 28.0631 33.7089 28.2338 33.5772L22.1266 25.6588C20.8158 26.6698 19.7396 27.9465 18.8712 29.4055L27.4644 34.5199ZM28.2338 33.5772C28.4153 33.4373 28.5277 33.4004 28.562 33.3907C28.6011 33.3796 28.6195 33.3815 28.624 33.3819L29.6191 23.4316C27.1613 23.1857 24.4923 23.8342 22.1266 25.6587L28.2338 33.5772ZM24.1215 28.4067V31.155H34.1215V28.4067H24.1215ZM24.1215 31.155C24.1215 36.0856 30.0829 38.5548 33.5694 35.0684L26.4983 27.9973C29.3115 25.1841 34.1215 27.1765 34.1215 31.155H24.1215ZM33.5694 35.0684L38.3791 30.2587L31.308 23.1876L26.4983 27.9973L33.5694 35.0684ZM38.3789 30.2589C40.5405 28.0975 40.5404 24.5932 38.3791 22.4318L31.308 29.5029C29.5641 27.7589 29.5641 24.9313 31.3082 23.1874L38.3789 30.2589ZM35.1904 29.8648V27.9485H25.1904V29.8648H35.1904ZM35.1904 27.9485C35.1904 25.413 33.4675 23.2021 31.0094 22.5821L28.5638 32.2785C26.5805 31.7782 25.1904 29.9943 25.1904 27.9485H35.1904ZM31.0099 22.5822C30.72 22.5091 30.4252 22.4572 30.1594 22.4201L28.7746 32.3237C28.7785 32.3243 28.7666 32.3227 28.7392 32.3176C28.7252 32.315 28.7044 32.3109 28.6774 32.3051C28.6513 32.2995 28.6125 32.2907 28.5634 32.2784L31.0099 22.5822ZM30.1599 22.4201C27.3641 22.029 24.2446 22.6755 21.4739 24.8124L27.5811 32.7309C27.8925 32.4907 28.1373 32.3945 28.302 32.3521C28.4736 32.3079 28.631 32.3036 28.7742 32.3237L30.1599 22.4201ZM21.4739 24.8124C20.8124 25.3226 20.2018 25.8979 19.642 26.5305L27.1314 33.157C27.2925 32.9749 27.4437 32.8368 27.581 32.7309L21.4739 24.8124ZM28.2744 30.7869C28.2873 30.7206 28.3063 30.6386 28.3359 30.5359L18.7281 27.763C18.6202 28.1368 18.5301 28.508 18.4578 28.8805L28.2744 30.7869ZM28.3361 30.5353C28.4653 30.0873 28.9306 29.7275 29.4442 29.7386L29.6597 19.7409C24.6483 19.6329 20.1243 22.923 18.7279 27.7636L28.3361 30.5353ZM29.4635 29.7389C29.4742 29.7391 29.4812 29.7393 29.4862 29.7394C29.4912 29.7395 29.4922 29.7395 29.4908 29.7395C29.4891 29.7394 29.4848 29.7393 29.4788 29.7391C29.4727 29.739 29.4674 29.7388 29.4638 29.7387L29.8112 19.7447C29.7424 19.7423 29.6868 19.7413 29.6405 19.7405L29.4635 29.7389ZM29.4652 29.7387C32.5945 29.8466 35.1903 27.3391 35.1903 24.2076H25.1903C25.1903 21.6809 27.2849 19.6576 29.8098 19.7447L29.4652 29.7387ZM35.1903 24.2076V22.8257H25.1903V24.2076H35.1903ZM26.6548 26.3613L30.1743 29.8808L37.2454 22.8097L33.7259 19.2902L26.6548 26.3613ZM30.1743 22.8097L26.6548 26.3293L33.7259 33.4003L37.2454 29.8808L30.1743 22.8097ZM19.642 26.5305C22.9707 22.7684 29.2372 25.7425 28.2774 30.7711L18.4547 28.8963C17.4904 33.9486 23.7867 36.9372 27.1314 33.157L19.642 26.5305Z" fill="#BABABD" mask="url(#path-3-inside-1)"/>
                        </svg>
                      span(style="margin: 0 10px;cursor:pointer" v-bind:class="{fillOn:mainVideoMuted}" v-on:click="OnmainVideoMute(mainVideoMuted)")
                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56Z" fill="#4A5259"/>
                        <path id="p2" d="M37.0208 26.4896C37.0208 26.375 36.927 26.2812 36.8124 26.2812H35.2499C35.1353 26.2812 35.0416 26.375 35.0416 26.4896C35.0416 30.1432 32.0806 33.1041 28.427 33.1041C24.7734 33.1041 21.8124 30.1432 21.8124 26.4896C21.8124 26.375 21.7187 26.2812 21.6041 26.2812H20.0416C19.927 26.2812 19.8333 26.375 19.8333 26.4896C19.8333 30.8828 23.1301 34.5078 27.3853 35.0208V37.6875H23.6015C23.2447 37.6875 22.9583 38.0599 22.9583 38.5208V39.4583C22.9583 39.5729 23.0312 39.6666 23.1197 39.6666H33.7343C33.8228 39.6666 33.8958 39.5729 33.8958 39.4583V38.5208C33.8958 38.0599 33.6093 37.6875 33.2525 37.6875H29.3645V35.0338C33.6692 34.5651 37.0208 30.9193 37.0208 26.4896ZM28.427 30.9166C30.8723 30.9166 32.8541 28.9583 32.8541 26.5416V20.7083C32.8541 18.2916 30.8723 16.3333 28.427 16.3333C25.9817 16.3333 23.9999 18.2916 23.9999 20.7083V26.5416C23.9999 28.9583 25.9817 30.9166 28.427 30.9166ZM25.9791 20.7083C25.9791 19.3906 27.0702 18.3125 28.427 18.3125C29.7838 18.3125 30.8749 19.3906 30.8749 20.7083V26.5416C30.8749 27.8594 29.7838 28.9375 28.427 28.9375C27.0702 28.9375 25.9791 27.8594 25.9791 26.5416V20.7083Z" fill="#BABABD" stroke="#4A5259" stroke-width="0.2"/>
                        </svg>

                    div.greenBtn(v-if="isWebRtc()")
                      div.btnContent(v-if="isEsc6() && !webCamStream" v-on:click="startRTC()" )
                        span
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M13.7246 13.5257C12.7736 14.4746 11.2323 14.4746 10.2814 13.5257C9.33069 12.5768 9.33069 11.0382 10.2814 10.0893C11.2323 9.14033 12.7736 9.14033 13.7246 10.0893C14.6752 11.0382 14.6752 12.5768 13.7246 13.5257Z" fill="white"/>
                          <path d="M17.0498 17.2072C16.7532 17.2072 16.4566 17.094 16.2308 16.8673C15.7792 16.415 15.78 15.6823 16.2323 15.2309C17.1487 14.3162 17.6533 13.1003 17.6533 11.8071C17.6533 10.5138 17.1487 9.29786 16.2323 8.38317C15.78 7.93152 15.7792 7.19906 16.2308 6.74654C16.6822 6.29432 17.4149 6.29344 17.8671 6.74508C19.2218 8.09709 19.9677 9.89459 19.9677 11.8071C19.9677 13.7192 19.2218 15.517 17.8671 16.869C17.6413 17.0946 17.3456 17.2072 17.0498 17.2072Z" fill="white"/>
                          <path d="M19.667 20.6145C19.3704 20.6145 19.0738 20.5013 18.848 20.2749C18.3963 19.8224 18.3972 19.0899 18.8494 18.6383C20.6777 16.8136 21.6848 14.3878 21.6848 11.8075C21.6848 9.22721 20.6777 6.80138 18.8494 4.97667C18.3972 4.52503 18.3963 3.79257 18.848 3.34005C19.2996 2.88782 20.0321 2.88694 20.4843 3.33859C22.7507 5.60061 23.9992 8.60825 23.9989 11.8075C23.9989 15.0067 22.7507 18.0147 20.4843 20.2767C20.2585 20.5019 19.9628 20.6145 19.667 20.6145Z" fill="white"/>
                          <path d="M6.94938 17.2073C6.65365 17.2073 6.35791 17.0947 6.1318 16.8691C4.77716 15.5171 4.03125 13.7193 4.03125 11.8072C4.03125 9.8947 4.77716 8.0972 6.1318 6.74519C6.58403 6.29355 7.31678 6.29413 7.76813 6.74665C8.21977 7.19888 8.2189 7.93163 7.76667 8.38328C6.85022 9.29797 6.34563 10.514 6.34563 11.8072C6.34563 13.1004 6.85022 14.3164 7.76667 15.2311C8.2189 15.6824 8.21977 16.4152 7.76813 16.8674C7.54231 17.0938 7.2457 17.2073 6.94938 17.2073Z" fill="white"/>
                          <path d="M4.33215 20.6143C4.03612 20.6143 3.74039 20.5017 3.51457 20.2762C1.24816 18.0141 0 15.0065 0 11.8073C0 8.60773 1.24816 5.60009 3.51457 3.33807C3.9668 2.88672 4.69955 2.88731 5.1509 3.33983C5.60254 3.79206 5.60166 4.52452 5.14944 4.97616C3.32122 6.80087 2.31409 9.2267 2.31409 11.807C2.31409 14.3872 3.32122 16.8134 5.14944 18.6381C5.60166 19.0897 5.60254 19.8222 5.1509 20.2747C4.92508 20.5011 4.62847 20.6143 4.33215 20.6143Z" fill="white"/>
                          </svg>
                        span.btnContentLbl &nbsp; &nbsp; Включить мое видео
                      div.btnContent(v-if="isEsc6() && webCamStream" v-bind:class="{handUp:hand}" v-on:click="OnhandUp()")
                        span
                          <svg width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                          <desc>Created with Sketch.</desc>
                          <defs></defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Desktop-HD" transform="translate(-461.000000, -30.000000)" fill="#ffffff" id="" fill-rule="nonzero">
                          <g id="mdi-hand-right" transform="translate(459.000000, 28.000000)">
                          <g id="handIcoPath">
                          <path d="M21,6.58 L21,18.67 C21,20.5091082 19.5091082,22 17.67,22 L11.58,22 C10.68,22 9.83,21.64 9.21,21 L2.67,14.36 C2.67,14.36 3.72,13.33 3.75,13.32 C4.07119514,13.0340397 4.54077941,12.9895101 4.91,13.21 C4.94,13.22 8.5,15.26 8.5,15.26 L8.5,5.33 C8.5,4.63964406 9.05964406,4.08 9.75,4.08 C10.4403559,4.08 11,4.63964406 11,5.33 L11,11.17 L11.83,11.17 L11.83,3.25 C11.83,2.55964406 12.3896441,2 13.08,2 C13.78,2 14.33,2.56 14.33,3.25 L14.33,11.17 L15.17,11.17 L15.17,4.08 C15.17,3.39 15.72,2.83 16.42,2.83 C17.1103559,2.83 17.67,3.38964406 17.67,4.08 L17.67,11.17 L18.5,11.17 L18.5,6.58 C18.5,5.88964406 19.0596441,5.33 19.75,5.33 C20.4403559,5.33 21,5.88964406 21,6.58 Z" id="Icon-Shape"></path>
                          <rect id="Icon-Rectangle-path" fill-opacity="0" x="0" y="0" width="24" height="24"></rect>
                          </g>
                          </g>
                          </g>
                          </g>
                          </svg>
                        span.btnContentLbl &nbsp; &nbsp; Хочу спросить


      div.R
        div.Rwr
          div.rContent
            div.rHead#rHead
              div.rHeadItem(v-for="item in sect" v-bind:class="{active:item.isActive, alert:(invites.length>0  && item.id==3)}" v-on:click="sectActive(item)")
                div.rHeadItemLogo
                  img(v-bind:src="item.isActive?item.logoactive:item.logo")
                div {{item.title}}
            div.rContentWr(v-if="activeSection==0")
              div.rBody(id="feedBox" )
                div.rFeedGroup
                  div.rFeedGroupTitle
                    div.rFeedGroupBody
                      div.qItem(v-for="item in votes" v-if="item.isactive" )
                        div.qItemName {{item.title}}
                          span.red(v-if="item.iscompl") &nbsp; Голосование окончено.
                        div.vAnswBox
                          div.vAnsw(v-for="answ in item.answers" v-on:click="vote(answ, item)" v-bind:class="{ready:answIsReady(answ)}")
                            div.vAnswTitle
                              span(v-if="item.iscompl") {{CalcAnswPercent(answ, item)}}%,&nbsp
                              span {{answ.title}}

                  div.rFeedGroupTitle Переговорная комната
                  div.rFeedGroupBody
                    div.qItem()
                      div.qItemName
                        div.rItemSubTitle Приглашено: {{invitedUsers.length}}
                        div.rItemSubTitle Зашло: 0
                      div.qItemDate
                        span.link.green(v-on:click="document.location.href='/meeting/'+eventid+'/'+user.id") &nbsp;&nbsp; Зайти в мою комнату
                  div.rFeedGroupBody
                div.rFeedGroup
                  div.rFeedGroupTitle Расписание сессий
                  div.rFeedGroupBody
                    div.qItem(v-for="item in eventRooms" :id="'eventRoom'+item.id")
                      div.qItemName {{moment(item.date).format('HH:mm')}} {{item.description}}

                      div.qItemDate
                        span.link.green(v-on:click="document.location.href='/room/'+item.id" v-if="item.id!=roomid") &nbsp;&nbsp; Перейти
            div.rContentWr(v-if="activeSection==1")
              div.rBody(id="qBox" )
                div.qItem(v-for="item in q" v-bind:class="{my:(item.userid==user.id)}" )
                  div.qItemSmi  {{item.smi}}
                  div.qItemName {{item.i}}&nbsp;{{item.f}}
                  div.qItemText(v-html="item.text")
                  div(style="text-align:center")
                    video.qItemVideo(v-bind:src="'/files/'+item.video" v-if="item.video" controls)
                  div.qItemPhoto(v-on:click="window.open('/files/'+item.photo)" v-bind:style="{backgroundImage:'url(/files/'+item.photo+')'}" v-if="item.photo" controls)
                  div.qItemAnsvwer(v-if="item.answer!=null")
                    div.qItemAnsvwerLabel Ответ:
                    div.qItemAnsverText(v-html="item.answer")
                  div.qItemDate
                    span.qItemReady(v-if="item.isReady")
                      span Ответ получен&nbsp;&nbsp;
                      span
                        <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7319 0.295798C13.639 0.20207 13.5284 0.127675 13.4065 0.0769067C13.2846 0.026138 13.1539 0 13.0219 0C12.8899 0 12.7592 0.026138 12.6373 0.0769067C12.5155 0.127675 12.4049 0.20207 12.3119 0.295798L4.86192 7.7558L1.73192 4.6158C1.6354 4.52256 1.52146 4.44925 1.3966 4.40004C1.27175 4.35084 1.13843 4.32671 1.00424 4.32903C0.870064 4.33135 0.737655 4.36008 0.614576 4.41357C0.491498 4.46706 0.380161 4.54428 0.286922 4.6408C0.193684 4.73732 0.12037 4.85126 0.0711659 4.97612C0.0219619 5.10097 -0.00216855 5.2343 0.000152918 5.36848C0.00247438 5.50266 0.0312022 5.63507 0.0846957 5.75814C0.138189 5.88122 0.215401 5.99256 0.311922 6.0858L4.15192 9.9258C4.24489 10.0195 4.35549 10.0939 4.47735 10.1447C4.59921 10.1955 4.72991 10.2216 4.86192 10.2216C4.99394 10.2216 5.12464 10.1955 5.2465 10.1447C5.36836 10.0939 5.47896 10.0195 5.57192 9.9258L13.7319 1.7658C13.8334 1.67216 13.9144 1.5585 13.9698 1.432C14.0253 1.30551 14.0539 1.1689 14.0539 1.0308C14.0539 0.892697 14.0253 0.756091 13.9698 0.629592C13.9144 0.503092 13.8334 0.389441 13.7319 0.295798Z" fill="#3D89E0"/>
                        </svg>
                    //span {{moment(item.date).format("HH:mm")}}
                    include elements/likes

              div.rFooter
                div.fileLoadProgress
                div.askWr
                  <svg v-on:click="qFileClick()" style="cursor:pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.5 8C1.5 7.17157 2.17157 6.5 3 6.5H12C12.8284 6.5 13.5 7.17157 13.5 8V16C13.5 16.8284 12.8284 17.5 12 17.5H3C2.17157 17.5 1.5 16.8284 1.5 16V8Z" stroke="#9A9A9A"/>
                  <path d="M22.0992 5.00042C22.3496 5.16734 22.5 5.44833 22.5 5.74924V18.2508C22.5 18.5517 22.3496 18.8327 22.0992 18.9996C21.7655 19.222 21.3249 19.1968 21.0187 18.9378L16.0311 14.7175C15.6943 14.4325 15.5 14.0136 15.5 13.5724V10.4276C15.5 9.98637 15.6943 9.56752 16.0311 9.28252L21.0187 5.06222C21.3249 4.80315 21.7655 4.77795 22.0992 5.00042Z" stroke="#9A9A9A"/>
                  </svg>
                  input.ask(placeholder="Напишите Ваш вопрос" v-on:paste="qTextOnPaste($event)" id="qText" v-model="qText" v-on:keypress="qtextChange($event)")
                  <svg class="svgSendBtn" v-on:click="qtextSend()" width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-712.000000, -505.000000)" fill-rule="nonzero">
                  <g id="ic-baseline-call-made" transform="translate(708.000000, 500.000000)">
                  <g id="Icon">
                  <polygon id="Icon-Shape" fill="#9A9A9A" points="9 5 9 7 15.59 7 4 18.59 5.41 20 17 8.41 17 15 19 15 19 5"></polygon>
                  <rect id="Icon-Rectangle-path" fill-opacity="0" fill="#000000" x="0" y="0" width="24" height="24"></rect>
                  </g>
                  </g>
                  </g>
                  </g>
                  </svg>


            div.rContentWr(v-if="activeSection==2")
              div.rBody(id="chatBox" )
                div.qItem(v-for="item in chat" v-bind:class="{my:(item.userid==user.id)}")
                  div.qItemSmi  {{item.smi}}
                  div.qItemName {{item.i}}&nbsp;{{item.f}}
                  div.qItemText(v-html="item.text")
                  div(style="text-align:center")
                    video.qItemVideo(v-bind:src="'/files/'+item.video" v-if="item.video" controls)
                  div.qItemPhoto(v-on:click="window.open('/files/'+item.photo)" v-bind:style="{backgroundImage:'url(/files/'+item.photo+')'}" v-if="item.photo" controls)
                  div.qItemDate {{moment(item.date).format("HH:mm")}}
              div.rFooter
                div.fileLoadProgress
                div.askWr
                  <svg v-on:click="chatAddSmile()" style="cursor:pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 22C18.299 22 23 17.299 23 11.5C23 5.70101 18.299 1 12.5 1C6.70101 1 2 5.70101 2 11.5C2 17.299 6.70101 22 12.5 22Z" stroke="#9A9A9A"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 11C10.3284 11 11 10.1046 11 9C11 7.89543 10.3284 7 9.5 7C8.67157 7 8 7.89543 8 9C8 10.1046 8.67157 11 9.5 11Z" fill="#9A9A9A"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 11C16.3284 11 17 10.1046 17 9C17 7.89543 16.3284 7 15.5 7C14.6716 7 14 7.89543 14 9C14 10.1046 14.6716 11 15.5 11Z" fill="#9A9A9A"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.37027 13.5247C6.27006 13.3332 6.41166 13.116 6.62779 13.116H18.5288C18.7536 13.116 18.8943 13.3497 18.7776 13.5418C18.0473 14.7436 15.7228 18.0745 12.3926 18.0745C9.0464 18.0745 6.99138 14.7116 6.37027 13.5247Z" stroke="#9A9A9A"/>
                  </svg>
                  input.ask(v-on:paste="chatTextOnPaste($event)" placeholder="Напишите Ваше сообщение" id="chatText" v-model="chatText" v-on:keypress="chattextChange($event)")
                  <svg class="svgSendBtn" v-on:click="chattextSend()" width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-712.000000, -505.000000)" fill-rule="nonzero">
                  <g id="ic-baseline-call-made" transform="translate(708.000000, 500.000000)">
                  <g id="Icon">
                  <polygon id="Icon-Shape" fill="#9A9A9A" points="9 5 9 7 15.59 7 4 18.59 5.41 20 17 8.41 17 15 19 15 19 5"></polygon>
                  <rect id="Icon-Rectangle-path" fill-opacity="0" fill="#000000" x="0" y="0" width="24" height="24"></rect>
                  </g>
                  </g>
                  </g>
                  </g>
                  </svg>
            div.rContentWr(v-if="activeSection==3")
              div.rBody(id="userBox" )
                div.rInviteBox(v-if="invites.length>0")
                    div.rInvitesTitle Приглашения ({{invites.length}})
                    div.inviteDialogBoxItems
                        div.inviteDialogBoxItem.qItem(v-for="item in invites")
                            div.inviteDialogBoxItemTitle.qItemName {{item.i}} {{item.f}}
                            div.qItemDate
                                span(style="font-size: 10px;" v-on:click="inviteAllow(item)").link.green.inviteDialogBoxItemLink Зайти &nbsp;&nbsp;&nbsp;
                                span(style="font-size: 10px;" v-on:click="inviteDeny(item)").link.red.inviteDialogBoxItemLink Отказаться
                div.rInviteBox
                  div.rInvitesTitle Люди ({{users.length}})
                  div.qItem.userItem(v-for="item in users" v-bind:class="{active:(item.isActive)}")
                    div.qItemSmi  {{item.title}}
                    div.qItemName {{item.i}}&nbsp;{{item.f}}
                    div.userItemAvatar
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9993 2.66663C8.77135 2.66663 2.66602 8.77196 2.66602 16C2.66602 23.228 8.77135 29.3333 15.9993 29.3333C23.2274 29.3333 29.3327 23.228 29.3327 16C29.3327 8.77196 23.2274 2.66663 15.9993 2.66663ZM15.9993 9.33329C18.302 9.33329 19.9993 11.0293 19.9993 13.3333C19.9993 15.6373 18.302 17.3333 15.9993 17.3333C13.698 17.3333 11.9993 15.6373 11.9993 13.3333C11.9993 11.0293 13.698 9.33329 15.9993 9.33329ZM9.19135 22.3626C10.3873 20.6026 12.382 19.4293 14.666 19.4293H17.3327C19.618 19.4293 21.6114 20.6026 22.8074 22.3626C21.1034 24.1866 18.686 25.3333 15.9993 25.3333C13.3127 25.3333 10.8953 24.1866 9.19135 22.3626Z" fill="#9A9A9A"/>
                        </svg>
                    div.qItemDate
                        span.link.green(v-on:click="inviteToMeet(item)" v-if="userIsInvite(item)") &nbsp;&nbsp; Пригласить в мою переговорную
                        span.link.green(v-on:click="userDenyInvite(item)" v-else ) &nbsp;&nbsp; Отозвать приглашение
            div.rContentWr(v-if="activeSection==7")
              div.rBody(id="fileBox" )
                div.qItem(v-for="item in files" :id="'file'+item.id")
                  div.qItemLoader(:id="'fileloader'+item.id")
                  div.qItemName {{item.title}}
                  div.qItemDate
                    span.link.green(v-on:click="downloadFile(item)") &nbsp;&nbsp; Скачать
                    span.link.green(v-on:click="fileLink(item)") &nbsp;&nbsp; Ссылка



  script.
      var eventid=!{room.eventid}
      var roomid=!{room.id}
      var room=!{JSON.stringify(room)}







