extends layout
block head
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/room.css')
    link(rel='stylesheet', href='/stylesheets/rosatomRoom.css')
    link(rel='stylesheet', href='/stylesheets/rosatomLogin.css')
    script(src="/javascripts/rosatomScript.js")
block content
    div#app
        div.aHome(v-if="!user")
            div.aL
                div.aLogo
                    img(src="/images/clients/rosatom/logo.svg")
                div.aTitle
                    div День директора
                div.aDescr "Все вместе"
                div.aTime 29 июля 2020г. 14:00
                div.aTime
                    div Начало регистрации
                    div 28 июля 2020г.
                div.plInputBox(v-bind:class="{warning:(iErr &&  i.length<2)}")
                    div.plInputBoxLabel
                        input#iInpit(placeholder=lang.name v-model="i" autocomplete="off" v-on:keydown="if($event.keyCode==13) enter()")
                    div.plInputBoxWarning #{lang.thisMast}
                div.plInputBox(v-bind:class="{warning:(fErr &&  f.length<2)}")
                    div.plInputBoxLabel
                        input#fInpit(placeholder=lang.famName v-model="f" autocomplete="off" v-on:keydown="if($event.keyCode==13) enter()")
                    div.plInputBoxWarning #{lang.thisMast}
                div.plInputBox(v-on:click="showOtrasl()")
                    div.plInputBoxLabel Ваша компания
                        div.sel(v-if="!otrasl") Выберите компанию
                        div.sel(v-else) {{otrasl.title}}
                    div.plInputBoxWarning #{lang.thisMast}
                    div.plInputList(v-if="isShowOtrasl")
                        div.plInputListItems
                            div.plInputListItem(v-for="item in isShowOtrasl" v-on:click.stop.prevent="selectOtrasl(item)")
                                div.plInputListItemTitle {{item.title}}
                div.plInputBox
                    div.plSubmit(v-on:click="enter()")
                        div(v-if="!loader") #{lang.logon}
                        div(v-if="loader")
                            include ./elements/whiteDotLoader
            div.aR

        div.roomScreen.multiViewVideo(v-else)
            div.center
                div.L
                    div.videoWrapper
                        video(id="video" width="1280" height="720" controls playsinline loop  src="https://stream.sberbank-school.ru/hls/152/index.m3u8" poster="/images/room.poster" )